version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: viv_postgres_db
    restart: always
    env_file: .env 
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  scraper:
    build: .
    container_name: viv_scraper
    depends_on:
      - db
    env_file: .env 
    environment:
      DB_HOST: db 
    volumes:
      - .:/app 
    command: sh -c "sleep 5 && python create_tables.py && python scraper.py"

volumes:
  postgres_data: